.search-form {
  max-width: 600px;
  min-width: 450px;
  width: auto;
  display: inline-flex;
  height: 12%;
}

.container {
  position: relative;
}

.bottom-sticker {
  position: absolute;
  bottom: 0;
}

.table-style{
  height: 83%;
}
