.search-form {
  max-width: 600px;
  min-width: 450px;
  width: auto;
  display: inline-flex;
}

.one-control {
  flex-direction: row;
  display: inline-flex;
}
.box {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.container {
  position: relative;
}

.bottom-sticker {
  position: absolute;
  bottom: 0;
}

input {
  height: 25px;
  border-radius: 3px;
  border-width: 1px;
}

textarea {
  border-radius: 3px;
  border-width: 1px;
}
