<form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">

  <div class="box">
    <div>
      <label for='UUID'>UUID</label>

      <div class="one-control">
        <input matInput type="text" formControlName="UUID" id="UUID"  placeholder="UUID is...">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('UUID')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>

    <div>
      <mat-label>Message</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="message" id="message" placeholder="message is...">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('message')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
  </div>


  <div class="box">
    <div>
      <mat-label>Start Date:</mat-label>

      <div class="one-control">
        <input matInput [matDatepicker]="startPicker" formControlName="startDate"  placeholder="start date  is...">
        <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
        <mat-datepicker #startPicker></mat-datepicker>
      </div>
    </div>
    <div>
      <mat-label>End Date:</mat-label>

      <div class="one-control">
        <input matInput [matDatepicker]="endPicker" formControlName="endDate"  placeholder="end date is...">
        <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
        <mat-datepicker #endPicker></mat-datepicker>
      </div>
    </div>
  </div>

  <div>
    <label for='exception'>Exception</label>

    <div class="one-control">
      <textarea matInput formControlName="exception" id="exception"></textarea>
      <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('exception')">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </div>

  <div class="container">
    <button type="submit" mat-raised-button color="primary" class="bottom-sticker" (click)="search()">Search</button>
  </div>
</form>

<app-table [data]="resultsFound" [dataSchema]="tableSchema"></app-table>
