
  <!-- Search Box -->
  <div class="wrapper">
    <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">
      <!-- UUID -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>UUID</mat-label>
          <input matInput type="text" formControlName="UUID" id="UUID">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['UUID'].value"
            (click)="clearInput(controlName.UUID)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Message -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>Message</mat-label>
          <input matInput type="text" formControlName="message" id="message">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['message'].value"
            (click)="clearInput(controlName.message)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Exception -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>Exception</mat-label>
          <input matInput type="text" formControlName="exception" id="exception">
          <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['exception'].value"
            (click)="clearInput(controlName.exception)">
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </div>

      <!-- Start Date -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>Start Date</mat-label>
          <input matInput [matDatepicker]="startPicker" formControlName="startDate" id="startDate">
          <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
          <mat-datepicker #startPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- End Date -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>End Date</mat-label>
          <input matInput [matDatepicker]="endPicker" formControlName="endDate" id="endDate">
          <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
          <mat-datepicker #endPicker></mat-datepicker>
        </mat-form-field>
      </div>

      <!-- Start Page -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>Start Page</mat-label>
          <input matInput type="number" formControlName="page" id="page">
        </mat-form-field>
      </div>

      <!-- Page Size -->
      <div class="search-box-item">
        <mat-form-field>
          <mat-label>Page Size</mat-label>
          <input matInput type="number" formControlName="pageSize" id="pageSize">
        </mat-form-field>
      </div>

      <div class="search-button">
        <button type="submit" mat-raised-button color="primary" (click)="onSubmit()"
          [ngClass]="{'disabled':spinnerService.isBusy}">Search</button>
      </div>
    </form>
  </div>

  <app-table [data]="resultsFound" [dataSchema]="tableSchema" [ngClass]="{'disabled':spinnerService.isBusy}">
  </app-table>
  <mat-spinner color="accent" class="spinner-style" *ngIf="spinnerService.isBusy"></mat-spinner>
