table {
    width: 100%;
  }
  
  .sticky-paginator{
    position: absolute;
    bottom: 0;
    margin-right: 10px;
    margin-left: auto;
    width: 30%;
    max-width: 450px;
    min-width: 300px;
  }