<div class="box">
  <div class="row content">
    <div class="filter-holder">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Mia" #input>
    </div>

    <table mat-table [dataSource]="dataSource" class="table" matSort>
      <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
        <ng-container *ngIf="column.canSort; else noSort">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.name }}</th>
        </ng-container>
        <ng-template #noSort>
          <ng-container>
            <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
          </ng-container>
        </ng-template>
        <td mat-cell *matCellDef="let element">
          <div *ngIf="renderComponent(column.propertyType); else elseBlock">

            <ng-container [cellRowData]="element" [cellType]="column.propertyType" [cellId]="1" appCellTypeChanger>
            </ng-container>

          </div>
          <div>
            <ng-template #elseBlock>{{element[column.key]}}</ng-template>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" class="row footer"></mat-paginator>
</div>
