
.filter-bar {
  width: 50%;
  margin: 0 auto;
  max-width: 350px;
  padding: 15px;
  height: 40px;
}

.box {
  text-align: center;
  color: white;
  font-family: sans-serif;
  font-size: 36px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.table{
  width: 100%;
  position: relative;
  max-height: 400px;
  overflow: auto;
}

.component-wrapper {
	height: 74%;
  min-height: 74%;
	display: flex;
	flex-direction: column;
}

.content-wrapper{
  display: flex;
  flex-direction: column;
  min-height: 90%;
  max-height: 90%;
}

.table-box {
  /* background-color: blue; */
  flex-direction: unset;
  flex: 1;
  overflow-y: auto;
}

.paginator-box {
  height: 30px;
  align-self: flex-end;
}

