<div class="component-wrapper" [ngClass]="{'disabled':spinnerService.isBusy}">
  <div class="search-bar">
    <div class="filter-bar">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Exception ..." #input>
    </div>
    <!-- <div class="search-button">
      <button type="submit" mat-raised-button color="primary" (click)="doSearch()">Search</button>
    </div> -->
  </div>

  <div class="content-wrapper">
    <div class="box table-box">
      <table mat-table [dataSource]="dataSource" class="table" matSort>
        <ng-container [matColumnDef]="column.key" *ngFor="let column of columns">
          <ng-container *ngIf="column.canSort; else noSort">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>{{ column.name }}</th>
          </ng-container>
          <ng-template #noSort>
            <ng-container>
              <th mat-header-cell *matHeaderCellDef>{{ column.name }}</th>
            </ng-container>
          </ng-template>
          <td mat-cell *matCellDef="let element">
            <div *ngIf="renderComponent(column.propertyType); else elseBlock">

              <ng-container [cellRowData]="element" [cellType]="column.propertyType" [cellId]="1" appCellTypeChanger>
              </ng-container>

            </div>
            <div>
              <ng-template #elseBlock>{{element[column.key]}}</ng-template>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns" class="th-left"></tr>
      </table>
    </div>
    <div class="box paginator-box">
      <mat-paginator [pageSizeOptions]="[25, 100]"></mat-paginator>
    </div>
  </div>
</div>
