<div class="wrapper">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">

    <!-- Publisher -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>Publisher</mat-label>
        <input matInput type="text" formControlName="publisher" id="publisher">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['publisher'].value"
          (click)="clearInput(controlName.publisher)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Company -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>Company</mat-label>
        <input matInput type="text" formControlName="company" id="company">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['company'].value"
          (click)="clearInput(controlName.company)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Subscriber -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>Subscriber</mat-label>
        <input matInput type="text" formControlName="subscriber" id="subscriber">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['subscriber'].value"
          (click)="clearInput(controlName.subscriber)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- Resource -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>Resource</mat-label>
        <input matInput type="text" formControlName="resource" id="resource">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchForm.controls['resource'].value"
          (click)="clearInput(controlName.resource)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <!-- HTTP Code -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>HTTP Code</mat-label>
        <mat-select formControlName="httpCode" name="httpCode">
          <option class="none-option">--NONE--</option>
          <mat-optgroup *ngFor="let errorsGroup of httpErrorCodes" [label]="errorsGroup.name" >
            <mat-option *ngFor="let error of errorsGroup.errors" [value]="error">
              {{error}}
            </mat-option>
          </mat-optgroup>
        </mat-select>
      </mat-form-field>
    </div>

    <!-- Start Page -->
    <div class="search-box-item">
      <mat-form-field>
        <mat-label>Start Page</mat-label>
        <input matInput type="number" formControlName="page" id="page">
      </mat-form-field>
    </div>

    <!-- Page Size -->
    <div class="search-box-item">
      <mat-form-field>

        <mat-label>Page Size</mat-label>
        <input matInput type="number" formControlName="pageSize" id="pageSize">

      </mat-form-field>
    </div>
    <div class="search-button">
      <button type="submit" mat-raised-button color="primary"
        [ngClass]="{'disabled':spinnerService.isBusy}">Search</button>
    </div>
  </form>
</div>
<app-table [data]="resultsFound" [dataSchema]="tableSchema" [ngClass]="{'disabled':spinnerService.isBusy}"></app-table>
<mat-spinner color="accent" class="spinner-style" *ngIf="spinnerService.isBusy"></mat-spinner>
