<div class="wrapper">
  <form [formGroup]="searchForm" (ngSubmit)="onSubmit()" class="search-form">

    <div class="search-box-item">
      <mat-label for='publisher'>Publisher</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="publisher" id="publisher" placeholder="publisher is..."
          class="search-input">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('publisher')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="search-box-item">
      <mat-label for='company'>Company</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="company" id="company" placeholder="company is..."
          class="search-input">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('company')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="search-box-item">
      <mat-label for='subscriber'>Subscriber</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="subscriber" id="subscriber" placeholder="subscriber is..."
          class="search-input">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('subscriber')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="search-box-item">
      <mat-label for='resource'>Resource</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="resource" id="resource" placeholder="resource is..."
          class="search-input">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('resource')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="search-box-item">
      <mat-label for='httpCode'>HTTP Code</mat-label>

      <div class="one-control">
        <input matInput type="text" formControlName="httpCode" id="httpCode" placeholder="httpCode is..."
          class="search-input">
        <button mat-button matSuffix mat-icon-button aria-label="Clear" (click)="clearInput('httpCode')">
          <mat-icon>close</mat-icon>
        </button>
      </div>
    </div>
    <div class="search-box-item">
      <mat-label>Start Page:</mat-label>

      <div class="one-control">
        <input matInput type="number" formControlName="page" id="page" placeholder="start page  is..."
          class="search-input">
      </div>
    </div>
    <div class="search-box-item">
      <mat-label>Page Size:</mat-label>

      <div class="one-control">
        <input matInput type="number" formControlName="pageSize" id="pageSize" placeholder="Page size is..."
          class="search-input">
      </div>
    </div>
    <div class="search-button">
      <button type="submit" mat-raised-button color="primary" [ngClass]="{'disabled':busy}">Search</button>
    </div>


  </form>
</div>
<app-table [data]="resultsFound" [dataSchema]="tableSchema" [ngClass]="{'disabled':busy}"></app-table>
<mat-spinner color="accent" class="spinner-style" *ngIf="busy"></mat-spinner>
